/*.db
/esbuild-meta.json
/godepgraph.png
/node_modules
/paddler
/paddler-bin-linux-x64
/snapshots
/static
/target
/llama.cpp
/qwen2_500m.gguf
/data
/prometheus.yml
/supervisor-1.toml
/supervisor-2.toml
