@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  src: url(https://fonts.gstatic.com/s/jetbrainsmono/v23/tDbX2o-flEEny0FZhsfKu5WU4xD-Cw6nSHrV.woff2)
    format("woff2");
  font-style: normal;
}
