<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/mgmt-dashboard.css">
    <title>Paddler</title>
</head>
<body>
    <p>
        <strong>Registered Targets</strong>:
        {{.LoadBalancerStatus.RegisteredTargets}}
    </p>
    <table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Idle</th>
                <th>Processing</th>
                <th>Remaining Ticks</th>
                <th>Updates</th>
                <th>Last Update</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            {{range .LlamaCppTargets}}
                <tr>
                    <td>{{.LlamaCppHealthStatus.Status}}</td>
                    <td>{{.LlamaCppHealthStatus.SlotsIdle}}</td>
                    <td>{{.LlamaCppHealthStatus.SlotsProcessing}}</td>
                    <td>{{.RemainingTicksUntilRemoved}}</td>
                    <td>{{.TotalUpdates}}</td>
                    <td>{{.LastUpdate}}</td>
                    <td>
                        {{if .LlamaCppHealthStatus.ErrorMessage}}
                            {{.LlamaCppHealthStatus.ErrorMessage}}
                        {{end}}
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="7">
                        No load balancers are registered
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>
