<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/mgmt-dashboard.css">
    <title>Paddler</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Host</th>
                <th rowspan="2">Status</th>
                <th rowspan="2">Idle</th>
                <th rowspan="2">Processing</th>
                <th rowspan="2">Remaining Ticks</th>
                <th rowspan="2">Updates</th>
                <th rowspan="2">Last Update</th>
                <th rowspan="2">Error</th>
            </tr>
            <tr>
                <th>
                    Total: {{.LoadBalancerStatus.RegisteredTargets}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{range .LlamaCppTargets}}
                <tr>
                    <td>{{.LlamaCppTargetConfiguration}}</td>
                    <td>{{.LlamaCppHealthStatus.Status}}</td>
                    <td>{{.LlamaCppHealthStatus.SlotsIdle}}</td>
                    <td>{{.LlamaCppHealthStatus.SlotsProcessing}}</td>
                    <td>{{.RemainingTicksUntilRemoved}}</td>
                    <td>{{.TotalUpdates}}</td>
                    <td>{{.LastUpdate}}</td>
                    <td>
                        {{if .LlamaCppHealthStatus.ErrorMessage}}
                            {{.LlamaCppHealthStatus.ErrorMessage}}
                        {{end}}
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="8">
                        No agents are registered
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>
