.agentListAgentStatus__progress {
  align-items: center;
  display: grid;
  gap: var(--spacing-half);
  grid-template-columns: 1fr auto;
  justify-items: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  progress {
    width: 100%;
  }
}
