.agentListModel {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 24px);
  justify-items: flex-start;
  row-gap: var(--spacing-half);
}

.agentListModel__name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
