@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.agentList {
  --width-border-agent: 2px;

  animation: fadeIn 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: var(--spacing-base);

  &::before {
    background-color: var(--color-arrow);
    content: "";
    height: calc(
      var(--width-border-agent) + 100% - var(--height-agent) -
        calc(0.5 * var(--thickness-arrow))
    );
    left: calc(-1 * var(--spacing-base));
    position: absolute;
    top: calc(var(--width-border-agent) + 0.5 * var(--height-agent));
    transform: translate3d(-100%, 0, 0);
    width: var(--thickness-arrow);
  }
}

.agentList__agent {
  align-items: center;
  background-color: linen;
  border: 2px solid var(--color-border);
  column-gap: var(--spacing-base);
  display: grid;
  grid-template-areas: "name model status";
  grid-template-columns: 2fr 3fr 3fr;
  height: var(--height-agent);
  padding: 0 var(--spacing-base);
  position: relative;

  &::after,
  &::before {
    content: "";
  }

  &::before {
    background-color: var(--color-arrow);
    height: var(--thickness-arrow);
    left: -6px;
    position: absolute;
    top: calc(0.5 * var(--height-agent));
    transform: translate3d(-100%, -50%, 0);
    width: calc(var(--spacing-base) - 4px);
  }

  &:first-of-type::before {
    width: calc(var(--spacing-2x) - 4px);
  }

  &::after {
    border-color: transparent transparent transparent var(--color-arrow);
    border-style: solid;
    border-width: 5px 0 5px 10px;
    height: 0px;
    left: -2px;
    position: absolute;
    top: calc(0.5 * var(--height-agent));
    transform: translate3d(-100%, -50%, 0);
    width: 0px;
  }
}

.agentList__agent.agentList__agentHasIssues {
  border-color: crimson;
}

.agentList__agent__name {
  align-items: center;
  display: grid;
  grid-area: name;
  grid-template-rows: repeat(2, 24px);
  justify-items: flex-start;
  row-gap: var(--spacing-half);
}

.agentList__agent__model {
  grid-area: model;
}

.agentList__agent__status {
  grid-area: status;
}
