.chatTemplatesPageToolbar {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-half);
}

.chatTemplatesPageToolbar__button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  height: 100%;
  justify-items: center;
  padding: var(--spacing-half);
  row-gap: var(--spacing-quarter);
  width: 70px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-highlight-1);
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.chatTemplatesPageToolbar__track {
  column-gap: var(--spacing-half);
  display: flex;
  flex-direction: row;
}
