.dashboard {
  display: grid;
  grid-template-rows: var(--height-dashboard-header) calc(
      100dvh - var(--height-dashboard-header)
    );
  min-height: 100dvh;
}

.dashboard__content {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
  overflow-y: auto;
}

.dashboard__header {
  align-items: center;
  background-color: var(--color-body-background);
  border-bottom: 2px solid var(--color-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  padding: 0 var(--spacing-base);
  position: sticky;
  top: 0;
}

.dashboard__header__link {
  padding: var(--spacing-base);
}

.dashboard__header__link.dashboard__header__linkActive {
  background-color: var(--color-highlight);
}

.dashboard__header__track {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base);
}
