.dashboard {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.dashboard__content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-half);
  padding: var(--spacing-base);
}

.dashboard__header {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-base) var(--spacing-base);
}

.dashboard__header__link {
  padding: var(--spacing-base);
}

.dashboard__header__link.dashboard__header__linkActive {
  background-color: var(--color-highlight);
}

.dashboard__header__track {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base);
}
