.dashboardPageAddAgent {
  display: flex;
  padding-top: var(--spacing-base);
}

.dashboardPageAddAgent__button {
  appearance: none;
  background-color: transparent;
  background-image: url("../../icons/help.svg");
  background-position: var(--spacing-base) center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  display: flex;
  flex-direction: row;
  padding: var(--spacing-base) var(--spacing-base) var(--spacing-base)
    calc(var(--spacing-base) + var(--spacing-half) + 24px);
  text-decoration: underline;
}

.dashboardPageAddAgent__instructions {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-half);

  p {
    padding: var(--spacing-half) var(--spacing-base);
  }
}
