.dashboardPage {
  align-items: flex-start;
  column-gap: var(--spacing-2x);
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  padding: var(--spacing-2x) var(--spacing-base);
  width: 100%;
}

.dashboardPage__serviceBlock {
  display: flex;
  flex-direction: column;
  position: relative;
}
