.inferenceParameterInput {
  --height-input: 35px;
  --width-input-border: 1px;

  align-items: center;
  column-gap: var(--spacing-base);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inferenceParameterInput__checkbox {
  align-items: center;
  display: flex;
  height: var(--height-input);
  padding: var(--spacing-half) 2px;

  input[type="checkbox"] {
    appearance: none;
    background-color: white;
    border: 2px solid white;
    height: 1em;
    outline: 2px solid var(--color-border);
    width: 1em;

    &:checked {
      background-color: var(--color-border);
    }
  }
}

.inferenceParameterInput__input {
  appearance: none;
  border-color: var(--color-border);
  border-style: solid;
  border-width: var(--width-input-border) var(--width-input-border) 0
    var(--width-input-border);
  box-shadow: 1px 1px 0 var(--color-border);
  height: var(--height-input);
  padding: var(--spacing-half);

  &:focus {
    outline: none;
  }
}

.inferenceParameterInput:last-of-type .inferenceParameterInput__input {
  border-bottom-width: var(--width-input-border);
}

.inferenceParameterInput__label {
  font-weight: bold;
  text-align: right;
}

.inferenceParameterInput__select {
  column-gap: var(--spacing-half);
  display: flex;
  flex-direction: row;
  height: var(--height-input);

  select {
    appearance: none;
    background-color: white;
    background-image: url("../../icons/arrow_drop_down.svg");
    background-position: var(--spacing-half) center;
    background-repeat: no-repeat;
    background-size: 1em;
    border: 1px solid var(--color-border);
    box-shadow: 1px 1px 1px var(--color-border);
    color: black;
    padding: var(--spacing-half) var(--spacing-base) var(--spacing-half)
      calc(var(--spacing-base) + 1em);

    &:disabled {
      opacity: 0.3;
    }

    &:open {
      background-image: url("../../icons/arrow_drop_up.svg");
    }
  }
}

.inferenceParameterInput__disabledHint {
  position: relative;
}

.inferenceParameterInput__disabledHint__content {
  --icon-size: calc(var(--font-size-small) * 1.6);

  background-image: url("../../icons/arrow_back.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: var(--icon-size);
  font-size: var(--font-size-small);
  font-style: italic;
  left: 0;
  padding-left: calc(var(--icon-size) + var(--spacing-half));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  width: auto;
}
