body:has(.modalWindowBackdrop) {
  overflow: hidden;
  padding-right: var(--width-scrollbar);
}

.modalWindowBackdrop {
  --color-modal-window-background: var(--color-body-background);
  --height-modal-window-titlebar: 42px;
  --max-height-modal-window: calc(100dvh - var(--spacing-2x));

  align-items: center;
  bottom: 0;
  display: grid;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  padding: var(--spacing-base);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: var(--z-index-modal);

  @media screen and (min-width: 1032px) {
    --max-width-modal-window: 1000px;
  }
  @media screen and (max-width: 1032px) {
    --max-width-modal-window: calc(100dvw - var(--spacing-2x));
  }
}

.modalWindow {
  border: 2px solid var(--color-border);
  box-shadow: var(--spacing-half) var(--spacing-half) 0 #00000055;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  left: 50%;
  max-height: var(--max-height-modal-window);
  max-width: var(--max-width-modal-window);
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.modalWindow__closeButton {
  align-items: center;
  appearance: none;
  background: none;
  border: none;
  display: flex;
  height: 100%;
  justify-content: center;
  width: var(--height-modal-window-titlebar);

  img {
    height: 24px;
    width: 24px;
  }
}

.modalWindow__content {
  background-color: var(--color-modal-window-background);
  overflow-y: auto;
}

.modalWindow__titleBar {
  align-items: center;
  background-color: var(--color-highlight-2);
  border-bottom: 2px solid var(--color-border);
  display: grid;
  grid-template-columns: 1fr auto;
  height: var(--height-modal-window-titlebar);
}

.modalWindow__titleBar__title {
  align-items: center;
  display: flex;
  font-weight: bold;
  height: 100%;
  padding: 0 var(--spacing-base);
}
