.modelMetadataFocusedParameter,
.modelMetadataFocusedParameter__content {
  display: grid;
  height: 100%;
}

.modelMetadataFocusedParameter {
  grid-template-rows: auto 1fr;
}

.modelMetadataFocusedParameter__backButton {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  column-gap: var(--spacing-base);
  display: flex;
  flex-direction: row;
  padding: var(--spacing-half);
  text-decoration: underline;

  img {
    height: 1em;
    width: 1em;
  }
}

.modelMetadataFocusedParameter__backPanel {
  background-color: var(--color-modal-window-background);
  border-bottom: 2px solid var(--color-border);
  padding: var(--spacing-half);
  position: sticky;
  top: 0;
}
