.notificationCount {
  align-items: center;
  background-color: crimson;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  font-size: 11px;
  height: 16px;
  justify-content: center;
  width: 16px;
}
