<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paddler Dashboard</title>

    {{ "resources/css/page-admin-panel.css"|asset(preloads) }}
    {{ "resources/ts/controller_dashboard.tsx"|asset(preloads) }}

    {{ preloads|render_assets|safe }}
</head>
<body>
    <div
        id="paddler-dashboard"

        data-buffered-request-timeout-millis="{{ buffered_request_timeout_millis }}"
        data-compat-openai-addr="{{ compat_openai_addr }}"
        data-inference-addr="{{ inference_addr }}"
        data-management-addr="{{ management_addr }}"
        data-max-buffered-requests="{{ max_buffered_requests }}"
        data-statsd-addr="{{ statsd_addr }}"
        data-statsd-prefix="{{ statsd_prefix }}"
        data-statsd-reporting-interval-millis="{{ statsd_reporting_interval_millis }}"
    ></div>
</body>
</html>
