<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/mgmt-dashboard.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <script src="/static/global_turbo.js" type="module"></script>
    <script src="/static/global_stimulus.js" type="module"></script>
    <script src="/static/controller_refresh_body.js" type="module"></script>
    <title>Paddler Dashboard</title>
</head>
<body data-controller="refresh_body">
    <h1>Paddler Dashboard</h1>
    <h2>Registered Agents ({{.LoadBalancerStatus.RegisteredTargets}} Total)</h2>
    <ol class="agents">
        {{range .LlamaCppTargets}}
            <li
                class="
                    agents__agent
                    {{if .LlamaCppHealthStatus.ErrorMessage}}
                        agents__agent--error
                    {{end}}
                "
            >
                <p class="metric">
                    <span class="metric__name">Name:</span>
                    <span class="metric__value">{{.LlamaCppTargetConfiguration.Name}}</span>
                </p>
                <p class="metric">
                    <span class="metric__name">Host:</span>
                    <span class="metric__value">{{.LlamaCppTargetConfiguration.LlamaCppConfiguration}}</span>
                </p>
                <p class="metric">
                    <span class="metric__name">Status:</span>
                    <span class="metric__value">{{.LlamaCppHealthStatus.Status}}</span>
                </p>
                <p class="metric">
                    <span class="metric__name">Idle:</span>
                    <span class="metric__value">{{.LlamaCppHealthStatus.SlotsIdle}}</span>
                </p>
                <p class="metric">
                    <span class="metric__name">Processing:</span>
                    <span class="metric__value">{{.LlamaCppHealthStatus.SlotsProcessing}}</span>
                </p>
                <p class="metric">
                    <span class="metric__name">Remaining Ticks:</span>
                    <span class="metric__value">{{.RemainingTicksUntilRemoved}}</span>
                </p>
                <p class="metric">
                    <span class="metric__name">Lifespan:</span>
                    <span class="metric__value">{{.TotalUpdates}}</span>
                </p>
                <p class="metric">
                    <span class="metric__name">Last Update:</span>
                    <span class="metric__value">{{.LastUpdate | formatDate}}</span>
                </p>
                {{if .LlamaCppHealthStatus.ErrorMessage}}
                    <p class="metric metric--error">
                        <span class="metric__name">Error:</span>
                        <span class="metric_value">
                            <code>{{.LlamaCppHealthStatus.ErrorMessage}}</code>
                        </span>
                    </p>
                {{end}}
            </li>
        {{else}}
            <li class="agents__empty">
                No agents are registered
            </li>
        {{end}}
    </ol>
</body>
</html>
