name: release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: create release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: build
        run: |
          make paddler-bin-linux-x64

      - name: determine tag type
        id: tag_type
        run: |
          if [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+$ ]]; then
            echo "PRE_RELEASE_TAG" >> $GITHUB_OUTPUT
          elif [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "RELEASE_TAG" >> $GITHUB_OUTPUT
          else
            echo "INVALID_TAG" >> $GITHUB_OUTPUT
          fi

      - name: create pre-release
        id: create_prerelease
        if: steps.tag_type.outputs.tag_type == 'PRE_RELEASE_TAG'
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: paddler-bin-linux-x64
          prerelease: true

      - name: create release
        id: create_release
        if: steps.tag_type.outputs.tag_type == 'RELEASE_TAG'
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: paddler-bin-linux-x64
          prerelease: false
